$burnt-sienna: #f16f58;
$carmine-pink: #e1563f;
$seashell-white: #faf4f1;
$bon-jour-grey: #dfd7d4;
$desert-storm-grey: #f2ece9;
$solid-coated-warm-grey: #e5dbd6;

$body-bg: $seashell-white;

@import "bootstrap/variables";

$side-nav-sm-columns: 3;
$code-sm-columns: 8;
