{{outlet}}

<footer id="page-footer">
  <div class="container">
    <p>Developed by <a href="http://tclau.com">Justin Lau</a>.</p>
    <p>Licensed under <a href="https://github.com/justin-lau/ember-intl-tel-input/blob/master/LICENSE.md">MIT</a>.</p>
  </div>{{!-- /.container --}}
</footer>
